.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
.octicon-x{
  display: inline-block;
  vertical-align: text-top;
  fill: #ff0000;
}
.octicon-verified{
  display: inline-block;
  vertical-align: text-top;
  fill: #00ff00;
}