
<footer class="footer">
  <p>Author: Dmarmy </p>
  <%= github_url('Dmarmy', 'test-guru') { 'Test Guru on GitHub' } %>
 <p>Study project from online school <a href="http://www.thinknetica.com/" target="_blank">Thinknetica</a></p>
  <p><%= current_year %></p>
</footer>